<div class="row mt-4">
  <div class="col">
    <h1>Stwórz nową rezerwację</h1>
  </div>
</div>
<form class="mt-3">
  <div class="row">
    <div class="col-6">
      <div class="form-group row">
        <label for="inputStartDate" class="col-sm-2 col-form-label">Początek</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" id="inputStartDate">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row">
        <label for="inputEndDate" class="col-sm-2 col-form-label">Koniec</label>
        <div class="col-sm-6">
          <input type="date" class="form-control" id="inputEndDate">
        </div>
      </div>
    </div>
    <div class="col-6">
      <div class="form-group row">
        <label for="inputCustomer" class="col-sm-2 col-form-label">Klient</label>
        <div class="col-sm-6">
          <select type="date" class="form-control" id="inputCustomer"></select>
        </div>
      </div>
    </div>
    <div class="col-6">
        <div class="form-group row">
          <label for="inputCar" class="col-sm-2 col-form-label">Samochód</label>
          <div class="col-sm-6">
            <select type="date" class="form-control" id="inputCar"></select>
          </div>
        </div>
      </div>
    <div class="col-12">
      <div class="form-group row">
        <div class="col-sm-10">
          <button type="submit" class="btn btn-primary">Stwórz</button>
        </div>
      </div>
    </div>
  </div>
</form>