
<div class="container-fluid">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#"><img src="assets/images/logo_small.png"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link" routerLink="/reservations">Lista rezerwacji</a>
      <a class="nav-item nav-link" routerLink="/reservations/new">Nowa rezerwacja</a>
      <a class="nav-item nav-link" routerLink="/cars">Auta</a>
      <a class="nav-item nav-link" routerLink="/customers">Klienci</a>
    </div>
  </div>
</nav>
<div class="main-content">
    <router-outlet></router-outlet>
</div>


	<!-- <div style="color: blue;">
		<h1>{{title}}</h1>
	</div>
 
	<div style="width: 300px;">
		<form (ngSubmit)="onSubmit()">
			<div class="form-group">
				<label for="item">Item</label> <input type="text"
					class="form-control" placeholder="Enter content..." id="item"
					required [(ngModel)]="itemValue" name="item">
			</div>
 
			<div class="btn-group">
				<button type="submit" class="btn btn-success">Submit</button>
			</div>
		</form>
	</div>
 
	<h2>Content from Firebase</h2>
	<div class="col-md-3">
		<pre *ngFor="let item of items | async">{{item.content}}</pre>
	</div>
</div> -->