<h2>Lista Użytkowników</h2>
<table class="table" id="customer-table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Imię</th>
        <th scope="col">Nazwisko</th>
        <th scope="col">Mail</th>
        <th scope="col">Tel</th>
        <th scope="col">Opcje</th>

      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let customer of customers ">
        <th scope="row">{{customer.id}}</th>
        <th scope="row">{{customer.name}}</th>
        <th scope="row">{{customer.lastname}}</th>
        <th scope="row">{{customer.email}}</th>
        <th scope="row">{{customer.phone}}</th>
        <th scope="row">
          <button class="btn btn-info">Edytuj</button>
          <button class="btn btn-danger">Usuń</button>
        </th>

        
      </tr>
    </tbody>
  </table>