<h2>Lista pojazdów</h2>

<table class="table" id="car-table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">#</th>
      <th scope="col">Marka</th>
      <th scope="col">Model</th>
      <th scope="col">Kolor</th>
      <th scope="col">Rok produkcji</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let car of cars ">
      <th><img src="{{car.photoUrl}}"/></th>
      <th scope="row">{{car.id}}</th>
      <th scope="row">{{car.make}}</th>
      <th scope="row">{{car.model}}</th>
      <th scope="row">{{car.color}}</th>
      <th scope="row">{{car.production}}</th>
      
    </tr>
  </tbody>
</table>