<div style="width: 300px;">
  <form (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="item-id">Id</label> <input type="text"
        class="form-control" placeholder="Id" id="item-id"
        required [(ngModel)]="car.id" name="item-id">
      <label for="item-make">Marka</label> <input type="text"
        class="form-control" placeholder="Marka" id="item-make"
        required [(ngModel)]="car.make" name="item-make">
      <label for="item-model">Model</label> <input type="text"
        class="form-control" placeholder="Model" id="item-model"
        required [(ngModel)]="car.model" name="item-model">
      <label for="item-color">Kolor</label> <input type="text"
        class="form-control" placeholder="Kolor" id="item-color"
        required [(ngModel)]="car.color" name="item-color">
    </div>

    <div class="btn-group">
      <button type="submit" class="btn btn-success">Submit</button>
    </div>
  </form>
</div>